{% extends 'base.html' %}

{% block content %}
    <body>
        <br><br>
        <h5>HELP Companion</h5>

        <br><br>

        <p>This is a simple help page for getting to know Companion</p>
        <br><br>

        <p>Content:</p>
        <a href="#companion_menu">Menu</a><br>
        <a href="#companion_connectors">View/Add/Edit connections</a><br>
        <a href="#companion_buttons">View/Edit buttons</a><br>

        <br><br>
        <div id="companion_menu">
            <h6>Companion Menu</h6>
            <img src="images/Companion/Companion_menu.png" alt="Companion Menu">
            <!-- <img src="images/SRG-Axx/srg_dip_switch.png" alt="DIPSwitch" style="width: 100%; max-width: 200px;"><br><br>
            <img src="images/SRG-Axx/srg_dip_switch_2.png" alt="DIPSwitch" style="width: 100%; max-width: 300px;"><br> -->
            <p>
                On the left hand side you see the menu for Companion. There are two main items you will need to keep track on:
            </p>
            <ol>
                <li>Connections</li>
                <li>Buttons</li>
            </ol>

        </div>

        <br><br>
        <div id="companion_connectors">
            <h6>View/Add/Edit connections</h6>
            <img src="images/Companion/ConnectionsAddNew.png" alt="Companion Connections">
            <p>
                In order to view, add or edit connections you will need to click on the "Connections" menu item. Here you will see a list of all connections that are currently configured. You can also add new connections by clicking on the "Add Connection" button. To edit an existing connection,
            </p>
            <img src="images/Companion/Connections.png" alt="Companion Connections">
            <p>
                To edit a connection you simply click on the connection you want to edit. You will then be presented with a screen that allows you to edit the connection settings. Once you have made your changes, click on the "Save" button to save your changes.
            </p>
        </div>

        <br><br>
        <div id="companion_buttons">
            <h6>View/Add/Edit buttons</h6>
            <img src="images/Companion/ButtonsPreset1.png" alt="Companion Buttons">
            <p>
                In order to view, add or edit connections you will need to click on the "Connections" menu item. Here you will see a list of all connections that are currently configured. You can also add new connections by clicking on the "Add Connection" button. To edit an existing connection,
            </p>
            <img src="images/Companion/ButtonsPreset2.png" alt="Companion Buttons">
            <p>
                To edit a connection you simply click on the connection you want to edit. You will then be presented with a screen that allows you to edit the connection settings. Once you have made your changes, click on the "Save" button to save your changes.
            </p>
        </div>


        
    </body>
{% endblock %}