{% extends 'base.html' %}

{% block content %}
    <body>

    <script type="text/javascript">
        async function changeImg(objImg, newSrc) {
            console.log("Changing image source to " + newSrc);
            const originalSrc = objImg.getAttribute('src');
            const originalSrcBase = objImg.getAttribute('data-original-src');
            if (!originalSrcBase) {
                objImg.setAttribute('data-original-src', originalSrc)
            }
            if (originalSrc !== originalSrcBase) {
                return;
            }
            objImg.setAttribute('src', newSrc);

            setTimeout(() => {
                objImg.setAttribute('src', originalSrc);
            },1000);
        }   

        async function AutoAssignIP() {
            const response = await fetch('api/ptzcam/PTZCamSetIP', { method: 'GET' });
            console.log('AutoAssignIP');
            console.log(response);
        }


        async function ENQViscaDevices() {
            const response = await fetch('api/ptzcam/PTZCamENQ', { method: 'GET' });
            const data = await response.json();

            console.log('ENQViscaDevices:', data);

            const tableBody = document.getElementById('tableBody');
            // Clear existing rows to prevent appending duplicates
            tableBody.innerHTML = ''; 

            // Iterate over the new data and add rows
            data[0].forEach(item => {
                const row = document.createElement('tr');
                const nameCell = document.createElement('td');
                const macCell = document.createElement('td');
                const ipCell = document.createElement('td');
                const writeCell = document.createElement('td');

                const link = document.createElement('a');
                link.href = `http://${item.IPADR}`; // Adjust path as needed
                link.textContent = item.NAME;
                link.target = "_blank";
                nameCell.appendChild(link);

                macCell.textContent = item.MAC;
                ipCell.textContent = item.IPADR;
                writeCell.textContent = item.WRITE;

                console.log('MAC:', item);

                row.appendChild(nameCell);
                row.appendChild(macCell);
                row.appendChild(ipCell);
                row.appendChild(writeCell);
                tableBody.appendChild(row);
            });
        }


        function openFullscreen(element) {
            const elem = document.documentElement; // or any specific element
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
                element.hidden = true;
            }
        }
        const intervalInSeconds = 5;
        const intervalId = setInterval(ENQViscaDevices, intervalInSeconds * 1000); // 5000 milliseconds
        // Initial call to populate the table immediately upon page load
        ENQViscaDevices();
    </script>
        <br><br><br><br>

        <div class="container-fluid">

            <div class="row align-items-center justify-content-center">
                <div class="col-6">
                    <img onclick="SetBrightness10(this, 'images/SRGCamBackside.png');" src="images/SRGCamBackside.png" alt="SRG-Axx Backside" class="img-fluid">
                </div>
                <div class="col-6">
                    <img onclick="SetBrightness10(this, 'images/BRCAM7CamBackside.png');" src="images/BRCAM7CamBackside.png" alt="BRC-AM7 Backside" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-6">
                    <a href="help_srg" class="btn btn-warning">Help SRG-A12/40</a>
                </div>
                <div class="col-6">
                    <a href="help_brc" class="btn btn-warning">Help BRC-AM7</a>
                </div>
            </div>


            <br><br>
            <div class="container mt-4">
                <table id="dataTable" class="table table-striped table-bordered table-hover">
                    <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>MAC Address</th>
                    <th>IP Address</th>
                    <th>Write Status</th>
                </tr>
            </thead>
            <!-- The tbody content will be dynamically updated -->
            <tbody id="tableBody">
                <!-- Initial rows or a loading message can go here -->
            </tbody>
            <tbody>
                <tr> 
                    <td><button type="button" class="btn btn-success" onclick="ENQViscaDevices();">Refresh Devices</button></td>
                    <td></td>
                    <td></td>
                    <td><button type="button" class="btn btn-success" onclick="AutoAssignIP();">Auto assign IP</button></td>
                </tr>
            </tbody>
        </table>

        <br><br>

        <div class="container-fluid">

            <div class="row align-items-center justify-content-center">
                <div class="col-6">
                    <a href="http://{{config.companion_ip}}:{{config.companion_port}}" class="btn btn-info" target="_blank" rel="noopener noreferrer">Open Companion</a>
                </div>
                <div class="col-6">
                    <a href="help_companion" class="btn btn-warning">Help Companion</a>
                </div>

            </div>
        </div>
    </body>
{% endblock %}
